body{
	margin:0;
	padding:0;
	font-family: "Verdana", Arial, sans-serif;
}

h4{
	margin-left: 10px;
	margin-bottom: -5px;
}

p{
	margin-left: 10px;
	font-size: 13px;
}

hr{
	margin-left: 10px;
	margin-right: 10px;
}

#logoH1{
	color: #FFFFFF;
	margin-left: 10px;
	margin-top: 10px;
}

small{
	margin-left: 10px;
}

img{
	margin-left: 10px;
}